.calendarDay {
  min-height: 50px;
  background-color: #FFFFFF;
}

.dayNum {
  margin: 1px 4px;
  color: #5E5E5E;
  font-weight: 600;
  font-size: 14px;
}

.eventList {
  display: grid;
  list-style: none;
  margin: 4px;
  gap: 4px;
}

.eventItem {
  cursor: pointer;
  position: relative;
  font-size: 12px;
  text-align: center;
  padding: 4px;
  background-color: #F1EFFF;
  color: black;
  border-radius: 4px;
}

.eventItem p {
  width: 100%;
  height: 100%;
}

.eventItem::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 3px;
  background-color: #E00000;
  border-radius: 8px 0 0 8px;
}

.detailsLink {
  text-decoration: none;
}

@media (min-width: 600px) {
  .dayNum {
    margin: 2px 4px;
    font-size: 16px;
  }  

  .eventItem {
    font-size: 16px;
    padding: 8px 4px;
  }

  .eventItem:hover p {
    color: #FFFFFF;
  }

  .eventItem:hover {
    background-color: #E00000;
    font-weight: 600;
  }
}

@media (min-width: 1024px) {
  .dayNum {
    margin: 2px 4px;
    font-size: 16px;
  }  

  .eventItem {
    font-size: 16px;
    padding: 8px;
  }
}