@font-face {
  font-family: 'Inter';
  src: url("./assets/Inter-Regular.woff2") format('woff2');
}

*,
::after,
::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Inter', sans-serif, system-ui;
  background-color: #F1EFFF;
}

a {
  color: black
}

input {
  background-color: #F1EFFF;
  border: 1px solid #FF8A78;
  border-radius: 8px;
  padding: 2px;
  height: 2rem;
}